<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.windsekirun.richsocialmanager">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <receiver
            android:name=".receiver.TwitterResultReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_SUCCESS"/>
                <action android:name="com.twitter.sdk.android.tweetcomposer.UPLOAD_FAILURE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>